{% extends "base.html" %}

{% block content %}

<div class="analytics-header">

    <h1>📊 Student Analytics Dashboard</h1>

    <p>

        Interactive Power BI dashboard designed to analyze
        student performance, attendance trends,
        grades and academic insights.

    </p>

</div>

<div class="analytics-features">

    <h2>Dashboard Insights</h2>

    <div class="feature-list">

        <div>✔ Attendance Analytics</div>

        <div>✔ Grade Distribution</div>

        <div>✔ Course Wise Performance</div>

        <div>✔ Top Performing Students</div>

        <div>✔ At Risk Students</div>

        <div>✔ Academic Trend Analysis</div>

    </div>

</div>

<div class="analytics-button">

    <a
    href="https://app.powerbi.com/reportEmbed?reportId=66f58c0d-45b9-402d-88ae-eaa6f705d4bc&autoAuth=true&ctid=4a36bb2f-1c55-49e0-9a23-6281dfd38c6b"
    target="_blank"
    class="primary-btn">

        📈 Open Interactive Dashboard

    </a>

    <p>

        * Microsoft account may be required to access
        the live Power BI dashboard.

    </p>

</div>

{% endblock %}