{% extends "base.html" %}

{% block content %}

<div class="login-container">

<div class="login-card">

<h2>🔒 Change Password</h2>

<p>

Keep your account secure by using a strong password.

</p>

<form method="POST">

<label>Current Password</label>

<div class="password-box">

<input
class="form-control password-input"
type="password"
id="old_password"
name="old_password"
required>

<span class="toggle-password"
onclick="togglePassword('old_password',this)">
👁️
</span>

</div>

<label>New Password</label>

<div class="password-box">

<input
class="form-control password-input"
type="password"
id="new_password"
name="new_password"
required>

<span class="toggle-password"
onclick="togglePassword('new_password',this)">
👁️
</span>

</div>

<label>Confirm Password</label>

<div class="password-box">

<input
class="form-control password-input"
type="password"
id="confirm_password"
name="confirm_password"
required>

<span class="toggle-password"
onclick="togglePassword('confirm_password',this)">
👁️
</span>

</div>

<button class="login-btn">

Update Password

</button>

</form>

</div>

</div>

<script>

function togglePassword(id,icon){

let input=document.getElementById(id);

if(input.type==="password"){

input.type="text";

icon.innerHTML="🙈";

}

else{

input.type="password";

icon.innerHTML="👁️";

}

}

</script>

{% endblock %}